<form action="/create">
<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Client Management</h1>
					</div>
				</div>
				<div class="row">
					<ul class="nav nav-tabs notification-tab" role="tablist">
						<li class="tab active"><a id="tab1" href="#active" role="tab"
							data-toggle="tab" tabindex="0">Add Client</a></li>
						<li class="tab"><a id="tab2" href="#history" role="tab"
							data-toggle="tab" tabindex="-1">View Clients</a></li>
					</ul>

				</div>
				<div class="row">
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="active" role="tabpanel">
						<form>					
								<div class="col-md-8 text-center">
											<h3 class="">Create Client</h3>
											<p>This page is designed for admin to add Client to the
												backend. You can create as many as Clients</p>
										</div>
					
						<div class="col-md-4 col-md-offset-2">
									<div class="row marginbot-20">
											<div class="form-group customform-group">
												<div class="col-md-4">
													<label>Client Name</label>
													<span class="star-color">*</span>
														</div>
													<div class="col-md-8">
													<input t6 pe="text" name="title" id="myTextarea"
														class="form-control val_selct input-popover" placeholder=""
														value="" autocomplete="off" maxlength="140"
														data-content='<div class="popover-para"><p>Make it meaningful for your clients and be specific. Your clients are looking for solutions that are actionable and related to your life. If you want to distinguish yourself, avoid general stuff.</p></div>' />
													</div>
												</div>
										</div>
										<div class="row marginbot-20">
											<div class="form-group customform-group">
											<div class="col-md-4">
												<label>Email</label>
												<span class="star-color">*</span>
													</div>
												<div class="col-md-8">
												<input t6 pe="text" name="title" id="myTextarea"
													class="form-control val_selct input-popover" placeholder=""
													value="" autocomplete="off" maxlength="140"
													data-content='<div class="popover-para"><p>Make it meaningful for your clients and be specific. Your clients are looking for solutions that are actionable and related to your life. If you want to distinguish yourself, avoid general stuff.</p></div>' />
												</div>
											</div>
											</div>
											
											
											<div class="row marginbot-20">
											<div class="form-group customform-group">
											<div class="col-md-4">
												<label>Phone Number</label>
												<span class="star-color">*</span>
													</div>
												<div class="col-md-8">
												<input t6 pe="text" name="title" id="myTextarea"
													class="form-control val_selct input-popover" placeholder=""
													value="" autocomplete="off" maxlength="140"
													data-content='<div class="popover-para"><p>Make it meaningful for your clients and be specific. Your clients are looking for solutions that are actionable and related to your life. If you want to distinguish yourself, avoid general stuff.</p></div>' />
												</div>
											</div>
											</div>
											
											<div class="row marginbot-20">
											<div class="form-group customform-group">
											<div class="col-md-4">
												<label>Location</label>
												<span class="star-color">*</span>
													</div>
												<div class="col-md-8">
												<input t6 pe="text" name="title" id="myTextarea"
													class="form-control val_selct input-popover" placeholder=""
													value="" autocomplete="off" maxlength="140"
													data-content='<div class="popover-para"><p>Make it meaningful for your clients and be specific. Your clients are looking for solutions that are actionable and related to your life. If you want to distinguish yourself, avoid general stuff.</p></div>' />
												</div>
											</div>
											</div>
											
												
											
								<div class="col-md-12">
                            	<div class="col-md-offset-5 col-md-3">
                                <button type="submit" class="btn btn-success" id="preview" data-toggle="modal" data-target=".previewsolution">Save Client</button><br><br>
                                </form>
                            </div> 
                            
                            
                        </div>
											
											</div>
											</form>
											
						</div>
					
						<div class="tab-pane fade" id="history" aria-labelledby="tab2" aria-hidden="true">
							<table class="table table-bordered margintop-40">
										<thead>
											<th>S.No</th>
											<th>first name</th>
											<th>Last name</th>
											<th>Middle name</th>
											<th>Client name</th>
											<th>Eamil</th>
											<th>Contact</th>
											<th>Edit</th>
											<th>Delete</th>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>adithya</td>
												<td>adithya</td>
												<td>adithya</td>
												<td>adithya</td>
												<td>adithya</td>
												<td>adithya</td>
												<td><button class="btn btn-primary btn-edit"
														type="button">Edit</button></td>
												<td><button class="btn btn-danger" type="button">Delete</button></td>
											</tr>
										</tbody>

									</table>
						</div>

                    </div>
                </div>
            </div>